# Exclude insides of images/ folder:
images/*
!images/README.md

# Exclude insides of annotators folder:
annotations/annotators/Label_IMG_Annotator/*
!annotations/annotators/Label_IMG_Annotator/README.md

annotations/annotators/VGG_Image_Annotator/*
!annotations/annotators/VGG_Image_Annotator/README.md

# Exclude mmdetection folder:
mmdetection/*

# Exclude detections and groundtruths for icdar19:
object_detection_metrics/icdar19/*

# Exclude metric results:
results/metrics/*